html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 100%;
}

#mapStyleMenu {
    background: rgb(49, 49, 49);
    padding: 15px;
    color: white;
    position: fixed;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#coord {
    display: table;
    position: relative;
    margin: 0px auto;
    word-wrap: normal;
    white-space: pre-wrap;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}

.marker{
    background-image: url("planeMarker.png");
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}